<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <style>
      @import
      url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
      * { margin: 0; padding: 0; box-sizing: border-box; } body { font-family:
      "Poppins", sans-serif; background: #f3f3f3; } header { padding: 20px; }
      .hero { text-align: center; } .hero .logo { width: 45%; padding-top: 40px;
      } .main { position: relative; } .main-content { padding: 20px;
      padding-top: 20px; text-align: center; /* height: 100vh; */ }
      .main-content .title { font-size: 18px; text-align: center; line-height:
      28px; } .main-content .hero-p { font-size: 14px; padding-top: 10px; }
      .main-content .hero-p .welcome-message { padding-top: 20px; /* text-align:
      justify; */ } .main-content .link { display: inline-block; color: #85025a;
      font-size: 14px; padding-top: 30px; } .main-content .sub-info { display:
      block; font-size: 12px; padding-top: 80px; padding-bottom: 2rem; /*
      text-align: justify; */ } .footer { margin-top: 20px; padding: 20px;
      background: linear-gradient(92.03deg, #c91c6f 28.72%, #a12278 88.13%);
      color: rgba(255, 255, 255, 0.8); text-align: center; font-size: 14px; }
      .footer .unsubscribe a { display: inline-block; color: rgba(255, 255, 255,
      0.8); padding-bottom: 10px; /* line-height: 5; */ } .social-links {
      margin: 5px 0; } .social-links .social-icon { color: rgba(255, 255, 255,
      0.48); font-size: 30px; margin-left: 20px; /* float: left; width: 25%; */
      } .copyright { font-size: 12px; clear: both; } .address { line-height: 3;
      } @media screen and (min-width: 768px) { .hero .logo { width: 12%;
      padding-top: 20px; } .main-content .title { font-size: 24px; width: 40%;
      margin: 0 auto; padding-top: 20px; } .main-content .hero-p { font-size:
      16px; width: 40%; margin: 0 auto; padding-top: 30px; } .main-content .link
      { font-size: 16px; } .main-content .sub-info { width: 45%; margin: 0 auto;
      font-size: 13px; padding-bottom: 1rem; } .footer { padding-top: 30px; } }
    </style>
  </head>

  <body>
    <main class="main">
      <header>
        <div class="hero">
          <img
            src="https://www.dowkaa.com/static/media/logo.fe64a8cf18f812d56273.png"
            alt=""
            class="logo"
          />
        </div>
      </header>
      <section class="main-content">
        <h3 style="color: #010912" class="title">Hello {{name}}!</h3>
        <div class="hero-p">
          <p class="welcome-message">
            I'm Daniel Awoeye. As Dikko said, I'll be here to help you set up to
            use Dowkaa Super Express. My job is to make sure you feel
            comfortable and empowered so you can get the value you need from us.
          </p>

          <p class="welcome-message" style="padding-top: 40px">
            I want to make sure you are set up for success and have visibility
            every step of the way so I've created a simple plan for you to
            follow.
          </p>

          <p class="welcome-message" style="padding-top: 40px">
            To get started, simply: Complete the account creation process by
            uploading all your Company Registration Documents.
            <h4>That's it!</h4>
          </p>
          <p class="welcome-message" style="padding-top: 40px">
            Don't worry, we'll also send friendly reminders in case anything
            gets missed along the way. Once you are in, let's get started!
          </p>

          <div style="margin-top: 20px">
            <p>Thanks and let me know if you get stuck along </p>
            <h4>Your Name</h4>
          </div>
        </div>
        <div class="sub-info">
          To make sure you keep getting these emails, please add
          <a
            style="color: #c91c6f;"
            href="mailto:lulu@Dowkaa.com"
          >lulu@Dowkaa.com</a>
          to your address book or allow list. Want to control the kind of emails
          you receive from Dowkaa? Update your email preferences.
        </div>
      </section>
    </main>
    <footer class="footer">
      <p class="unsubscribe">
        Want out of the loop?
        <a href="#" class="link">Unsubscribe</a>
      </p>
      <p>Dowkaa.</p>
      <p class="address">42, Airport Road, Ikeja, Lagos, Nigeria</p>
      <div class="social-links">
        <a href="#" class="social-icon">
          <span><i class="fa-brands fa-instagram"></i></span></a>
        <a href="#" class="social-icon">
          <span><i class="fa-brands fa-twitter"></i></span></a>
        <a href="#" class="social-icon">
          <span><i class="fa-brands fa-linkedin-in"></i></span></a>
      </div>
      <p class="copyright">Copyright © 2023 Dowkaa. All rights reserved</p>
    </footer>
  </body>

</html>